.card__add-to-favorite { 
  position: absolute;
  background: url(../../../images/favorite-small-with-border.svg) center no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
  top: 10px;
  right: 15px;
  border: none;
}

.card__add-to-favorite:hover {
  background: url(../../../images/favorite-small-with-border-checked.svg) center no-repeat;
  background-size: contain;
  transform: scale(1.1);
}

.favorites {
  width: 28px;
  height: 28px;
  background: url(../../../images/favorite.svg) center no-repeat;
  background-size:contain;
  border: none;
  margin-right: 40px;
}

.cart {
  width: 38px;
  height: 38px;
  background: url(../../../images/cart.svg) bottom no-repeat;
  background-size: contain;
  border: none;
}

.card__add-car {
  margin: 0 auto;
  display: block;
  width: 100%;
  border: none;
  background:rgb(113, 89, 193); 
  font-size: 1em;
  padding:10px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  position: absolute;
  bottom: -30px;
  box-shadow:0 2px 4px rgb(0 0 0 / 80%);
  cursor: pointer;
}

.card__add-car:hover {
  transform: scale(1.05);
}

.trash_can {
  height: 10px;
  max-width: 10px;
  width: 100%;
  background:url(../../../images/trash-can.svg) center no-repeat;
  background-size: contain;
}