.side__bar__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.text--medium {
  font-size: 1.9rem;
  line-height: 2rem;
  font-weight: 900;
  color: #343434;
}

.card__title {
  text-align: center;
  width: 180px;
  margin: 10px auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__grade {
  padding: 0 15px 0 5px;
}

.card__gender {
  font-size: 1.6rem;
}

.card__price {
  text-align: center;
  font-size: 1.6rem;
  padding: 15px;
}
