.side__bar {
  background: #fff;
  display: block;
  opacity: 1;
  height: calc(100vh - 116px);
  right:0;
  top: 115px;
  overflow: hidden;
  padding: 20px 15px;
  position: fixed;
  width: 318px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: 500;
  border: 2px solid gray;
}