html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

main {
  margin-bottom: 80px;
  margin-top: 116px;
  min-height: 800px;
}

code {
  font-family: "Roboto";
}

.side__bar {
  background: #fff;
  display: block;
  height: calc(100vh - 116px);
  right: 0;
  top: 86px;
  overflow: hidden;
  padding: 20px 15px;
  position: fixed;
  width: 318px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 500;
  border: 2px solid gray;
  transform: translate(100%);
}

.show-sidebar {
  transform: translate(0);
}

.side__bar__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.side__bar__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.side__bar__content {
  padding-bottom: 20px;
  height: calc(100vh - 350px);
  overflow: auto;
}

.side__bar__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.side__bar__movie__title {
  text-align: center;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sider__bar__total {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.poster_min {
  height: 100%;
  max-width: 60px;
  width: 100%;
}

.trash_can {
  height: 20px;
  max-width: 20px;
  width: 100%;
  background: url(images/trash-can.svg) center no-repeat;
  background-size: contain;
}

.side__bar__finish {
  width: 80%;
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  border: none;
  background: rgb(113, 89, 193);
  font-size: 1em;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
}

.side__bar__finish a {
  text-decoration: unset;
  color: #fff;
}

.empty__cart {
  text-decoration: underline;
  border: none;
  color: rgb(113, 89, 193);
  font-size: 1.6rem;
  font-family: "Roboto";
  background: transparent;
  font-weight: 600;
}

@media (max-width: 715px) {
  header {
    height: 86px;
  }
  .logo {
    margin-left: 10px;
  }

  .cards__card {
    margin: 0 auto 20px auto;
    max-width: 200px;
  }

  .side__bar {
    background: #fff;
    padding: 20px 15px;
    width: 100%;
    max-width: 300px;
    height: calc(100vh - 86px);
    top: 86px;
  }

  .favorites {
    margin-right: 10px;
  }

  .search-input {
    max-width: 200px;
    width: 100%;
    margin-left: 5px;
  }
  .header-buttons {
    padding-right: 10px;
    padding-left: 05px;
  }
}
